* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
  position: relative;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

header {
  display: block;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
 
}

.post-header {
  margin-bottom: 40px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
  color: #1098ad;
}

h2 {
  font-size: 40px;
  font-style: italic;
  margin-bottom: 30px;
  position: relative;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li:last-child {
  margin-bottom: 0;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
/* flex: 0 0 300px; */
}

a:link {
  color: #1098ad;
  text-decoration: underline;
}

a:visited {
  color: #1098ad;
}

a:hover {
  cursor: pointer;
  color: pink;
  font-weight: bold;
  text-decoration: none;
}

nav a:link {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0;
}

.author {
  font-style: italic;
}

footer {
  background-color: #1098ad;
  grid-column: 1 / -1;
}

.copyright {
  font-size: 16px;
}

.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

.post-img {
  width: 100%;
  height: auto;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
}

h2::after {
  content: "TOP";
  background-color: black;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  color: white;

  position: absolute;
  top: -15px;
  right: -25px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between ;
}

.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
 
  
}
.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;

}

.related:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 5px;
  display: block;
}

.related-author {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
}

/* .row {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: baseline;
}

article {
  flex: 1;
  /* margin-bottom: 0;
} */

/* CSS Grid */ 

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: center;
  align-items: flex-start;

}

.main-header {
  grid-column: 1 / span 2;
  margin-bottom: 0;

}

